

<section class="navbar spacing">
    <div class="logoContainer">
        <h1>RecipeQuest</h1>
    </div>
    <div class="menuContainer">
        <p>Home</p>
        <p>About</p>
        <p>Contact</p>
        <p>Services</p>
    </div>
    <div class="buttonContainer">
        <button class="createRecipe">Add Recipe</button>
    </div>
</section>
<section class="homeContainer spacing">
    <div class="searchBar">
        <input type="text" placeholder="Search Here" class="search"/>
        <i class="fa-solid fa-magnifying-glass searchBtn"></i>
    </div>
</section>

<section class="recipeContainer spacing">
    <section class="recipeCard">
        <h1 class="recipeTitle">Sample Recipe Title</h1>
        <p class="recipeDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, velit. 
            Eius autem omnis possimus iste velit porro
             tempora dolor, culpa expedita deserunt temporibus fuga tempore ratione vitae.
              Maxime, sunt impedit.</p>
        <p class="recipeTime">Cooking time: 10 minutes</p>
        <p class="recipeCalorie">Calorie: 320g</p>
        <div class="buttons">
            <button class="update"><i class="fa-solid fa-pen icon"></i></button>
            <button class="delete"><i class="fa-solid fa-trash icon"></i></button>
        </div>
        
    </section>
    <section class="recipeCard">
        <h1 class="recipeTitle">Sample Recipe Title</h1>
        <p class="recipeDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, velit. 
            Eius autem omnis possimus iste velit porro
             tempora dolor, culpa expedita deserunt temporibus fuga tempore ratione vitae.
              Maxime, sunt impedit.</p>
        <p class="recipeTime">Cooking time: 10 minutes</p>
        <p class="recipeCalorie">Calorie: 320g</p>
        <div class="buttons">
            <button class="update"><i class="fa-solid fa-pen icon"></i></button>
            <button class="delete"><i class="fa-solid fa-trash icon"></i></button>
        </div>
        
    </section>
    <section class="recipeCard">
        <h1 class="recipeTitle">Sample Recipe Title</h1>
        <p class="recipeDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, velit. 
            Eius autem omnis possimus iste velit porro
             tempora dolor, culpa expedita deserunt temporibus fuga tempore ratione vitae.
              Maxime, sunt impedit.</p>
        <p class="recipeTime">Cooking time: 10 minutes</p>
        <p class="recipeCalorie">Calorie: 320g</p>
        <div class="buttons">
            <button class="update"><i class="fa-solid fa-pen icon"></i></button>
            <button class="delete"><i class="fa-solid fa-trash icon"></i></button>
        </div>
        
    </section>
    <section class="recipeCard">
        <h1 class="recipeTitle">Sample Recipe Title</h1>
        <p class="recipeDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, velit. 
            Eius autem omnis possimus iste velit porro
             tempora dolor, culpa expedita deserunt temporibus fuga tempore ratione vitae.
              Maxime, sunt impedit.</p>
        <p class="recipeTime">Cooking time: 10 minutes</p>
        <p class="recipeCalorie">Calorie: 320g</p>
        <div class="buttons">
            <button class="update"><i class="fa-solid fa-pen icon"></i></button>
            <button class="delete"><i class="fa-solid fa-trash icon"></i></button>
        </div>
        
    </section>
</section>
